<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Sistema de Chamados</h1>
      </ion-header-bar>
      <ion-content ng-controller="AppCtrl">
      	<div class="list" style="margin-left: 15%; margin-right: 15%; margin-top: 5%;" ng-hide="cliente">
		  <form>
		  	 <label class="item item-input">
		    	<span class="input-label">Usuario</span>
		    	<input type="text" ng-model="usuario">
		  	</label>
		  	<label class="item item-input">
		    	<span class="input-label">Senha</span>
		    	<input type="password" ng-model="senha">
		  	</label>
		  	<button class="button button-calm button-block" ng-click="autenticar(usuario, senha)" >
			  Entrar
			</button>
		  </form>
		  <button class="button button-assertive button-block button-small" ng-show="invalido" style="width: 60%; margin-left: 20%;">
			  Usuario ou senha invalidos
		  </button>
		</div>
		
		<div class="button-bar">
		  	<a class="button button-calm button-block" ng-show="cliente && cliente.perfil == 'tecnico'" 
		  		ng-click="setDesejo('cadastrar')">Cadastrar Usuario
		  	</a>
		  	<a class="button button-positive button-block" ng-show="cliente" 
		  		ng-click="setDesejo('criar')">Abrir Chamado
		  	</a>
		  	<a class="button button-assertive button-block" 
		  		ng-click="limpar()" ng-show="cliente">Sair
		  	</a>
		</div>

		<div class="list" ng-show="desejo == 'criar'" style="margin-left: 30%; margin-right: 30%;">
	    	<label class="item">
			    <div class="input-label">
			      Problema
			    </div>
			    <select ng-model="chamado.titulo" style="width: 100%">
			      <option value="suporte">Suporte</option>
			      <option value="programa">Programa</option>
			      <option value="treinamento">Treinamento</option>
			      <option value="orientacao">Orientacao</option>
			      <option value="site">Site</option>
			      <option value="servidor">Servidor</option>
			      <option value="outro">Outros</option>
			    </select>
		  </label>
		  
  		<ion-item>
	  		<ion-label>Date</ion-label>
	  		<ion-datetime displayFormat="MMM DD, YYYY HH:mm" ng-model="chamado.dataAberto"></ion-datetime>
		</ion-item>
		 
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Descricao</span>
		    <input type="datetime" ng-model="chamado.dataAbert">
		  </label>
		  
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Descricao</span>
		    <textarea rows="5" cols="5" ng-model="chamado.descricao"></textarea> 
		  </label>
		  
		  <label class="item">
			    <div class="input-label">
			      Severidade
			    </div>
			    <select ng-model="chamado.severidade" style="width: 100%">
			      <option value="urgente">Urgente</option>
			      <option value="alta">Alta</option>
			      <option value="normal">Normal</option>
			      <option value="baixa">Baixa</option>
			    </select>
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Sugestao</span>
		    <input type="text" ng-model="chamado.sugestao">
		  </label>
		  
		  <button class="button button-calm button-block" ng-click="salvarChamado(chamado)" style="width: 60%;">
			  Entrar
		  </button>
		</div>
		
		<div class="list" ng-show="desejo == 'cadastrar'" style="margin-left: 30%; margin-right: 30%;">
	    	<label class="item">
			    <div class="input-label">
			      Problema
			    </div>
			    <select ng-model="chamado.titulo" style="width: 100%">
			      <option value="suporte">Suporte</option>
			      <option value="programa">Programa</option>
			      <option value="treinamento">Treinamento</option>
			      <option value="orientacao">Orientacao</option>
			      <option value="site">Site</option>
			      <option value="servidor">Servidor</option>
			      <option value="outro">Outros</option>
			    </select>
		  </label>
		  
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Nome</span>
		    <input type="text" ng-model="cliente.nome">
		  </label>
		  
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Descricao</span>
		    <textarea rows="5" cols="5" ng-model="chamado.descricao"></textarea> 
		  </label>
		  
		  <label class="item">
			    <div class="input-label">
			      Severidade
			    </div>
			    <select ng-model="chamado.severidade" style="width: 100%">
			      <option value="urgente">Urgente</option>
			      <option value="alta">Alta</option>
			      <option value="normal">Normal</option>
			      <option value="baixa">Baixa</option>
			    </select>
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Sugestao</span>
		    <input type="text" ng-model="chamado.sugestao">
		  </label>
		  
		  <button class="button button-calm button-block" ng-click="salvarChamado(chamado)" style="width: 60%;">
			  Entrar
		  </button>
		</div>
      </ion-content>
    </ion-pane>
  </body>
</html>
